img(
  ng-src= '{{category.logo.url | thumbnail:"h_100"}}',
  ng-show= '!selectedcategory'
  )

h5(ng-if= '!selectedcategory') {{category.name}}

strong
  label(ng-if= 'selectedcategory') {{category.name}}