img(
  ng-src= '{{category.logo.url | thumbnail:"h_100"}}',
  ng-show= '!selectedcategory'
  )

label(ng-if= '!selectedcategory')
  br  
  h6 {{category.name}}

p(ng-if= 'selectedcategory') {{category.name}}