img(
  ng-src= '{{category.logo.thumb.url}}',
  ng-show= '!selectedcategory'
  )
//
  img(
    ng-src= 'http://localhost:3000/{{category.logo.thumb.url}}',
    ng-show= '!selectedcategory'
    )

h5(ng-if= '!selectedcategory') {{category.name}}

strong
  label(ng-if= 'selectedcategory') {{category.name}}