.thumbnail
  img(src= '{{product.logo.url}}')
h5 
  | {{product.name}}
i.alert.fi-price-tag.large
small
  |  Rs {{product.rent}}, 
  | Mft. {{product.mft_date}}
p {{product.desc}}
a.button.hollow.expanded(
  [routerLink]='["/product/", product._id]'
  ) Buy Now