.row(ng-controller= 'productsController')
  br
  h5 To Buy anything select any product
  hr

  .row
    .large-12.small-12.columns.fx-fade-left.fx-easing-sine.fx-speed-500
      ul.small-block-grid-2.medium-block-grid-3.large-block-grid-4
        li.text-center.fx-fade-left.fx-easing-sine.fx-speed-500(
          ng-show= 'true'
          ng-repeat= 'product in products'
          )
          show-product(product= 'product')