.row(ng-controller= 'productsController as _products')
  br
  h5 Product Details
  hr

  .large-4.columns.text-center(
    class= 'fx-fade-left fx-easing-sine fx-speed-500'
    ng-show='_products.selectedProduct'
    )
    img(ng-src= '{{_products.selectedProduct.logo.url | thumbnail:"h_200"}}')

  .large-8.columns.text-left(
    class= 'fx-fade-right fx-easing-sine fx-speed-500'
    ng-show='_products.selectedProduct'
    )
    h4 {{_products.selectedProduct.name}} ({{_products.selectedProduct.desc}})
    p
      |Rs {{_products.selectedProduct.rent}}
      br
      |Mft. {{_products.selectedProduct.mft_date | date}}

    h5
      button.button.hollow.warning Add to Cart
    