.row
  
  br
  h5 To Buy or Find anything select an option below:
  hr

  .small-up-3.medium-up-4.large-up-5(*ngIf= '!selectedCategory')
    .column.text-center.fx-fade-down.fx-easing-sine.fx-speed-500(*ngFor= '#category of categories')
      a((click)="showSubCategories(category)")
        img(
          src= '{{category.logo.url | thumbnail:"h_100"}}'
          )

        p{{category.name}}

  .row
    .large-2.small-3.columns.fx-fade-right.fx-speed-500(*ngIf='selectedCategory')
      ul.menu.vertical(data-magellan)
        li
          a.item.button(
            (click)="showSubCategories(category)",
            *ngFor= '#category of categories',
            [class.active]= 'category === selectedCategory'
            )
            label
              h6 {{category.name}}

    .large-10.small-9.columns.fx-fade-left.fx-easing-sine.fx-speed-500(
      *ngIf='selectedCategory'
      )
      .small-up-3.medium-up-4.large-up-5
        .column.text-center.fx-fade-left.fx-easing-sine.fx-speed-500(
          *ngFor= '#sub_category of selectedCategory.sub_categories'
          )
          a
            show-sub-category([sub_category]= 'sub_category')