.modal
  .modal-dialog
    .modal-content
    .modal-header
      button(type='button', class='close', data-dismiss='modal', aria-hidden='true') ×
      h4.modal-title {{ title }}
    .modal-body(ng-transclude)