doctype html

//if lt IE 7
  html.no-js.lt-ie9.lt-ie8.lt-ie7(lang='en', ng-app='myApp')  
//if IE 7
  html.no-js.lt-ie9.lt-ie8(lang='en', ng-app='myApp')  
//if IE 8
  html.no-js.lt-ie9(lang='en', ng-app='myApp')  
// [if gt IE 8] <!

html.no-js(lang='en', ng-app='myApp')
  // <![endif]
  
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title My AngularJS App
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='application.css')
    // <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
    script(src="//localhost:35729/livereload.js")
  body
    //if lt IE 7
      p.browsehappy
        | You are using an strong outdated browser. Please visit
        a(href='http://browsehappy.com/') upgrade your browser
        |  to improve your experience.
    
    header.large-8.large-offset-2.small-10.small-offset-1.top-bar
      // Title
      ul.title-area
        li.name
          h1
            a(href='#') Rent Junction
    
    nav.large-8.large-offset-2.small-10.small-offset-1.top-bar(data-topbar='', role='navigation')
      // Top Bar Section
      section.top-bar-section
        // Top Bar Left Nav Elements
        ul.left
          // Search | has-form wrapper
          li.has-form
            .row.collapse
              .large-8.small-9.columns
                input(type='text', placeholder='So, What are you waiting for?')
              .large-4.small-3.columns
                a.alert.button.expand(href='#') Search
        // Top Bar Right Nav Elements
        ul.right
          // Divider
          //li.divider
          // Dropdown
          li.has-dropdown.not-click
            a(href='#') Select City
          // Anchor
          // Button
          li.has-form.show-for-large-up
            a.button.success(href='#') Sign Up
          li.divider
          li
            a(href='#') Login In

    section.main-body.large-8.large-offset-2.small-10.small-offset-1
      div(ui-view='')
    
    //
      In production use:
      <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
    
    script(src='bower_components/angular/angular.js')
    script(src='bower_components/angular-ui-router/release/angular-ui-router.js')
    script(src='app.js')
    script(src='home/home.js')
    
    // <script src="components/"></script>

