doctype html

//if lt IE 7
  html.no-js.lt-ie9.lt-ie8.lt-ie7(lang='en', ng-app='rntJuncApp')  
//if IE 7
  html.no-js.lt-ie9.lt-ie8(lang='en', ng-app='rntJuncApp')  
//if IE 8
  html.no-js.lt-ie9(lang='en', ng-app='rntJuncApp')  
// [if gt IE 8] <!

html.no-js(lang='en', ng-app='rntJuncApp')
  // <![endif]
  
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Rent Junction
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='application.css')
    // <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
    script(src="//localhost:35729/livereload.js")
  
  body
    //if lt IE 7
      p.browsehappy
        | You are using an strong outdated browser. Please visit
        a(href='http://browsehappy.com/') upgrade your browser
        |  to improve your experience.
    
    
    // include partials folder
    // HEADER
    include partials/_header.html.jade
    // MAIN BODY
    include partials/_main.html.jade
    // FOOTER
    include partials/_footer.html.jade
    
    //
      In production use:
      <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
    script(src='bower_components/angular/angular.js')
    script(src='bower_components/angular-ui-router/release/angular-ui-router.js')
    
    // Modules
    script(src='app.js')
    script(src='home/home.js')
    
    //Services
    script(src='components/services/categories.js')

    //Directives
    script(src='home/directives/category.js')
    script(src='home/directives/sub-category.js')

