html
  body
    nav.top-bar(data-topbar='', role='navigation')
      ul.title-area
        li.name
          h1
            a(href='#') My Site
        // Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone
        li.toggle-topbar.menu-icon
          a(href='#')
            span Menu
      section.top-bar-section
        // Right Nav Section
        ul.right
          li.active
            a(href='#') Right Button Active
          li.has-dropdown
            a(href='#') Right Button Dropdown
            ul.dropdown
              li
                a(href='#') First link in dropdown
              li.active
                a(href='#') Active link in dropdown
        // Left Nav Section
        ul.left
          li
            a(href='#') Left Nav Button



p.test This is the partial for view 1.
