.thumbnail
  img(ng-src= '{{product.logo.url}}')
h5 
  {{product.name}}
i.alert.fi-price-tag.large
small
  |  Rs {{product.rent}}, 
  | Mft. {{product.mft_date | date}}
p {{product.desc}}
a.button.hollow.expanded(
    ui-sref='productDetail({subCategoryId: product.sub_category_id, productId: index})'
    ) Buy Now