ul.pricing-table
  img(ng-src= '{{product.logo.url}}')
  //img(ng-src= 'http://localhost:3000/{{product.logo.url}}')
  li.title {{product.name}}
  li.bullet-item Rs {{product.rent}}
  li.description Mft. {{product.mft_date | date}}
  li.description {{product.desc}}
  li.cta-button
    a.button.success(
      ui-sref='products.detail({productId: index})'
      ng-click = 'showProductDetails()'
      ) Buy Now