ul.pricing-table
  img(ng-src= '{{product.logo.url | thumbnail:"h_150"}}')
  li.title {{product.name}}
  li.bullet-item Rs {{product.rent}}
  li.description Mft. {{product.mft_date | date}}
  li.description {{product.desc}}
  li.cta-button
    a.button.success(
      ui-sref='productDetail({subCategoryId: product.sub_category_id, productId: index})'
      ) Buy Now