doctype html
html
  head
    title Rent juntion
    link(rel='stylesheet', href='application.min.css')
    script(src="//localhost:35729/livereload.js")
  body
  
    app
    
    //Angular Libraries
    script(src='node_modules/es6-shim/es6-shim.js')
    script(src='node_modules/angular2/bundles/angular2-polyfills.js')
    script(src='node_modules/systemjs/dist/system.src.js')
    script(src='node_modules/typescript/lib/typescript.js')
    script(src='node_modules/rxjs/bundles/Rx.js')
    script(src='node_modules/angular2/bundles/angular2.dev.js')
    script(src='node_modules/angular2/bundles/router.dev.js')
    script(src='node_modules/angular2/bundles/http.dev.js')
    
    //UI Plugins
    script(src='bower_components/jquery/dist/jquery.js')
    script(src='bower_components/what-input/what-input.js')
    script(src='bower_components/foundation-sites/dist/foundation.js')
    script(src='bower_components/toastr/toastr.js')
    script(src='bower_components/nprogress/nprogress.js')
    
    //Additional Plugins
    //script(src='node_modules/angular2-jwt/angular2-jwt.js')
    //script(src='node_modules/ng2-ui-auth/export.js')

    // Application 
    //- script(src='libs.min.js')
    //- script(src='application.min.js')

    script.
      System.config({
        packages: {'app': {defaultExtension: 'js'}}
      });
      System.import('app/bootstrap.js')
      .then(null, console.error.bind(console));

