doctype html
html
  head
    title Rent juntion
    link(rel='stylesheet', href='application.min.css')
    script(src="//localhost:35729/livereload.js")
  body
  
    app
    
    //Angular Libraries
    script(src='node_modules/es6-shim/es6-shim.min.js')
    script(src='node_modules/systemjs/dist/system.src.js')
    script(src='node_modules/zone.js/dist/zone.js')
    script(src='node_modules/reflect-metadata/Reflect.js')
    
    //UI Plugins
    script(src='bower_components/jquery/dist/jquery.js')
    script(src='bower_components/what-input/what-input.js')
    script(src='bower_components/foundation-sites/dist/foundation.js')
    script(src='bower_components/toastr/toastr.js')
    script(src='bower_components/nprogress/nprogress.js')
    
    //Additional Plugins

    // Application 
    //- script(src='libs.min.js')
    //- script(src='application.min.js')
    script(src='systemjs.config.js')

    script.
      System.import('app').catch(function(err){ console.error(err); });
