doctype html

//if lt IE 7
  html.no-js.lt-ie9.lt-ie8.lt-ie7(lang='en', ng-app='rntJuncApp')  
//if IE 7
  html.no-js.lt-ie9.lt-ie8(lang='en', ng-app='rntJuncApp')  
//if IE 8
  html.no-js.lt-ie9(lang='en', ng-app='rntJuncApp')  
// [if gt IE 8] <!

html.no-js(lang='en', ng-app='rntJuncApp')
  // <![endif]
  
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Rent Junction : Rent Everything
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='application.min.css')
    script(src="//localhost:35729/livereload.js")
  
  body(ng-controller='authController as _auth')
    //if lt IE 7
      p.browsehappy
        | You are using an strong outdated browser. Please visit
        a(href='http://browsehappy.com/') upgrade your browser
        |  to improve your experience.
    
    
    // include partials folder
    // HEADER
    include partials/headerView.html.jade
    // MAIN BODY
    include partials/mainView.html.jade
    // FOOTER
    include partials/footerView.html.jade
    
    script(src='application.min.js')
    script(src='templates.min.js')