modal(title='Login Form', visible='showModal')
  form(role='form')
    .form-group
      label(for='email') Email address
      input#email.form-control(type='email', placeholder='Enter email')
    .form-group
      label(for='password') Password
      input#password.form-control(type='password', placeholder='Password')
    button.btn.btn-default(type='submit') Submit